*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, 
body {
    font-family:Arial, Helvetica, sans-serif
}

#app {
    width:400;
    height:100vh;
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1,
h3{
    margin-bottom: 1rem;
    font-weight: normal;
}

img{
    border-radius:50%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
}

.male{
    border-color: steelblue;
    background-color: steelblue;
}

.female{
    border-color: pink;
    background-color:pink
}

button{
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 18px;
    border:0;
    padding: 1rem 1.5rem;
}